*{
    margin: 0px 0.1rem 0px 0.1rem;
    padding: 0px;
    font-family: nit;
}

@font-face {
    font-family: nit;
    src: url(American\ Captain.ttf);
}
html{
    font-size: 62.5%;
}

header{

}

.headcontain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 15.0rem;
    font-weight:400;
    font-family: nit;
}

.logo span{
    color:orange;
    font-size: 11.7rem;
}

header img{
    width: 26.5rem;
}
.services{
    display: flex;
    list-style: none;
    font-size: 3.5rem;
    font-family: nit;
}

.services li{
    margin-right: 1rem;
}

/* ........................ARTICLE........................... */

.artdiv{
    background-color: rgb(221, 219, 219);
}
.art1{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 1rem;
    align-items: center;
    margin-top: 1.7rem;
}
.art1 p{
    font-size: 4.5rem;
    font-weight: 50;
    margin-left: 5rem;
}

.art1 p span{
    color:orange;
}

.art1 .img1{
    width: 32.5rem;
    /* height: 33.5rem; */
    margin-left: 15rem;
}

.art2{
    margin-top: 1rem;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 50;
}

.art2 span{
    color:orange;
}

.art2 img{
    width: 50.5rem;
    
}