*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

@keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgb(255, 255, 255);
    }
  }


  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place the video behind other content */
}

/* Style the video to cover the entire container and scale proportionally */
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
}





a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.main {
    height: 100vh;
    width: 100vw;
    /* background-image: url(layered-waves-haikei.svg); */
    background-size:cover;
    background-position: center;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo_name {
     color: white;
     font-size: 27px;
     margin-left: 19px;
     margin-top: 10px;
}

.logo_name span{
      color: red;
}

.nav_bar_items {
     display: flex;
     list-style-type: none;
     margin: 10px;
     margin-left: 15px;
     margin-top: 20px;
     margin-right: 25px;
     color: white;
     
}

.nav_bar_items a{
    color: white;
    margin-right: 8px;
    font-size: 15px;
}
/* .about {

} */
.fa {
  margin-right: 3px;
  color: whitesmoke;
}
/* .fa-user {

}
.contact {
     
}
.fa-phone {

} */
.contact_items {
  display: block;
  position: absolute;
  
  /* background-color: red; */
}
.contact_items_ul {
     display: block;
     margin-top: 1vh;
     margin-left: 1vw;
}
.contact_items_li {
    position: relative;
    font-size: 15px;
}
/* .services {

}
.fa-bars {

}
.certificates {

}
.fa-certificate {

}
.resume {

}
.fa-address-card {

} */
.logo_image {
  margin-top: 15px;
}

.image{
  width: 150px;
  border-radius: 50%;
  height: fit-content;
  margin-left: 7vw;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  cursor: pointer;
}
.main_bio {
  margin-left: 25px;
  margin-top: 30px;
}
.bio {
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 23px;
}

.bio span{
  font-size: 28px;
}

.contact_items {
  display: none;
  position: absolute;
  padding: 0px; 
  /* z-index: 1; */
}

.contact:hover .contact_items {
  display: block;
}

.about:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

.contact1:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

.services:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

.certificates:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

.resume:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

.contact_items_ul li:hover{
  text-shadow: #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    cursor: pointer;
} 

